.image{
    height: 700px;
    width: 600px;
    border: 5px solid black;
    padding: 10px;
    margin-top: 100px;
    background-color: aqua;
    text-align: center;
    display: inline-block;
}   
.image2{
    height: 700px;
    width: 600px;
    border: 5px solid black;
    padding: 10px;
    margin-top: 40px;
    background-color: azure;
    text-align: center;
    display: inline-block;

}
.image3{
    height: 700px;
    width: 600px;
    border: 5px solid black;
    padding: 10px;
    margin: 10px;
    background-color: rgb(26, 223, 85);
    text-align: center;
    display: inline-block;
}
.image1{
    height: 70px;
    width: 700px;
    border: 5px solid black;
    padding: 5px;
    margin: 10px;
    background-color: rgb(250, 246, 8);
    text-align: center;
    display: inline-block; 
    position: fixed;  
}
